@model MagicCandy.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<style>
    .centered-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Esto centra verticalmente el formulario en la pantalla */
        background-color: #f0f8ff; /* Fondo azul clarito */
    }

    .form-container {
        width: 500px; /* Ancho del contenedor del formulario */
    }

    .form-box {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .btn-primary {
        background-color: #007bff; /* Color azul para el botón de guardar */
        color: #fff;
        font-size: 20px; /* Tamaño de fuente más grande */
        padding: 10px 20px; /* Padding del botón */
        border-radius: 8px;
        border: none;
        text-decoration: none;
    }

    .btn-back {
        background-color: #28a745; /* Color verde para el botón de retroceso */
        color: #fff;
        font-size: 20px; /* Tamaño de fuente más grande */
        padding: 10px 20px; /* Padding del botón */
        border-radius: 8px;
        border: none;
        text-decoration: none;
    }
</style>

<div class="centered-form">
    <div class="form-container">
        <div class="form-box">
            <h1>Edit</h1>
            <h4>Product</h4>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Pkid" />
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitPrice" class="control-label"></label>
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductImage" class="control-label"></label>
                    <input asp-for="ProductImage" class="form-control" />
                    <span asp-validation-for="ProductImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="text-center">
            <a asp-action="Index" class="btn btn-back">Listado</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
